_Note/
bin/
obj/
*.sqlite
*-wal
*-shm
*.sln
.vs/
Tsinswreng.JavaSqlHelper/
*.exe
CsDeclOut/
.dotnet*
.dotnet_home/
.dotnet_cli_home
*.__Private/*
_Clone/
artifacts/
Tsinswreng.Avln.Dsl/
Tsinswreng.Avln.Grid/
Tsinswreng.Avln.Navi/
Tsinswreng.Avln.StrokeText/
Tsinswreng.CsCfg/
Tsinswreng.CsCore/
Tsinswreng.CsDecl/
Tsinswreng.CsDictMapper/
Tsinswreng.CsErr/
Tsinswreng.CsFactoryMkr/
Tsinswreng.CsI18n/
Tsinswreng.CsPage/
Tsinswreng.CsTempus/
Tsinswreng.CsTextWithBlob/
Tsinswreng.CsTools/
Tsinswreng.CsTreeTest/
Tsinswreng.CsU128Id/
Tsinswreng.CsYamlMd/
Tsinswreng.OpenXmlTools/
Tsinswreng.Srefl/
Tsinswreng.TypstTools/
