[submodule "Ngan.Dict"]
	path = Ngan.Dict
	url = https://github.com/Tsinswreng/Ngan.Dict.git
[submodule "Tsinswreng.AvlnTools"]
	path = Tsinswreng.AvlnTools
	url = https://github.com/Tsinswreng/AvlnTools.git
[submodule "Tsinswreng.CsJson"]
	path = Tsinswreng.CsJson
	url = https://github.com/Tsinswreng/CsJson.git
[submodule "Tsinswreng.CsSql"]
	path = Tsinswreng.CsSql
	url = https://github.com/Tsinswreng/CsSql.git
[submodule "Tsinswreng.CsSrcGenTools"]
	path = Tsinswreng.CsSrcGenTools
	url = https://github.com/Tsinswreng/CsSrcGenTools.git
[submodule "Tsinswreng.CsTypeAlias"]
	path = Tsinswreng.CsTypeAlias
	url = https://github.com/Tsinswreng/CsTypeAlias.git
[submodule "Tsinswreng.CsIfaceGen"]
	path = Tsinswreng.CsIfaceGen
	url = https://github.com/Tsinswreng/CsIfaceGen.git
