[submodule "Ngaq.Backend"]
	path = Ngaq.Backend
	url = https://github.com/Tsinswreng/Ngaq.Backend.git
[submodule "Ngaq.Core"]
	path = Ngaq.Core
	url = https://github.com/Tsinswreng/Ngaq.Core.git
[submodule "Ngaq.Doc"]
	path = Ngaq.Doc
	url = https://github.com/Tsinswreng/Ngaq.Doc.git
[submodule "Ngaq.Frontend"]
	path = Ngaq.Frontend
	url = https://github.com/Tsinswreng/Ngaq.Frontend.git
[submodule "Ngaq.Server"]
	path = Ngaq.Server
	url = https://github.com/Tsinswreng/Ngaq.Server.git
[submodule "Ngaq.Test"]
	path = Ngaq.Test
	url = https://github.com/Tsinswreng/Ngaq.Test.git
[submodule "Tsinswreng.AvlnTools"]
	path = Tsinswreng.AvlnTools
	url = https://github.com/Tsinswreng/AvlnTools.git
[submodule "Tsinswreng.CsJson"]
	path = Tsinswreng.CsJson
	url = https://github.com/Tsinswreng/CsJson.git
[submodule "Tsinswreng.CsSql"]
	path = Tsinswreng.CsSql
	url = https://github.com/Tsinswreng/CsSql.git
[submodule "Tsinswreng.CsSrcGenTools"]
	path = Tsinswreng.CsSrcGenTools
	url = https://github.com/Tsinswreng/CsSrcGenTools.git
[submodule "Tsinswreng.CsTypeAlias"]
	path = Tsinswreng.CsTypeAlias
	url = https://github.com/Tsinswreng/CsTypeAlias.git
[submodule "Tsinswreng.CsIfaceGen"]
	path = Tsinswreng.CsIfaceGen
	url = https://github.com/Tsinswreng/CsIfaceGen.git
